@font-face {

    font-family: 'Inter';
    src: url('fonts/Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');

  }

  @font-face {

    font-family: 'Terminal';
    src: url('fonts/bitwise-font/Bitwise-m19x.ttf') format('truetype');

  }

  @font-face {

    font-family: 'Monospace';
    src: url('fonts/computo-monospace-font/ComputoMonospace-p73xO.ttf')format('truetype');

  }

@keyframes mostrarse {
  from {

    opacity: 0;

  }
  to {

    opacity: 1;

  }
}


@keyframes aparecer {
  from {

    transform: translateY(-100%);
    opacity: 0;

  }
  to {

    transform: translateY(0);
    opacity: 1;

  }
}


@keyframes centrar {
  from {

    transform: scale(1);
    opacity: 1;

  }
  to {

    transform: scale(0);
    opacity: 0;

  }
}


@keyframes desaparecer {
  from {

    transform: scale(1);
    pacity: 1;

  }
  to {

    transform: scale(0);
    opacity: 0;

  }
}

#panel-fondo
{

    width: 100%;
    height: 100%;
    position: fixed;
      
}



#imagencentro{

  position: absolute;
  width: auto;
  height: auto;

}

#elemento{

    width: 100%;
    height: 100%;
    background: url(#canvasMatrix);
    position: relative;

}

#elemento img{

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  position: absolute;
  width: 120px;
  height: 48px;
  left: 74px;
  top: 111px;

}

#imagen-opaco{
  
  animation: aparecer 1.3s ease-in-out forwards;

}

#imagen{

    display: none;
    transition: opacity 5s ease-in;
    opacity: 0;

}



#imagen.show {

  display: block;
  opacity: 1;

}

 





#mensaje {

  opacity: 0;
  transform: translateY(-100%);
  animation: aparecer 1.3s ease-in-out forwards;
  

  text-shadow: 4px 4px 15px #00FF00; 
  border: 2px solid transparent;
  font-size: 16px;
  padding: 5px;
  background-color: transparent;
  min-height: 50px;
  resize: none;
  width: 100%;

  position: absolute;
  width: 600px;
  height: 450px;
  left: 360px;
  top: 351px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;

  color: #E8E8E8;

}
  
#mensaje:focus {

    outline: none;

}
  
.inicio{

    width: 100%;
    height: 100%;
    
}
  
  
.inicio img{

    position: static;
    top: 38%;
    left: 32%;
    transform: scale(0);
    opacity: 0;
    animation: aparecer 0.5s ease-in-out forwards, desaparecer 1.5s ease-in-out 0.5s forwards;

}



  .acciones{ 
    
    opacity: 0;
    animation: mostrarse 5s ease-in-out 2S forwards;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 680px;
    height: 77px;
    left: 280px;
    top: 854px;

  }


  .acciones img{

    width: 16px;
    height: 16px;
    float: left;

  }

  .acciones p{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;


    color: #FFFFFF;

    opacity: 0.8;

  }

  .botones{

    opacity: 0;
    animation: mostrarse 5s ease-in-out 2S forwards;


    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 77px;
    left: 280px;
    top: 893px;


  }
  
    #encriptador{

        /* Auto layout */
        cursor: pointer;
        font-size: 25px;
        font-family: 'Terminal';
        font-weight: bold;
        width: 328px;
        height: 80px;
        color: black;
        background: #00FF00;
        border-radius: 24px;
        transition: 2s;
        border: none;

    }

    #encriptador:hover{

      box-shadow: 0px 0px 15px 10px #00FF00;
        font-size: 26px;

    }

    #descencriptador
    {

        cursor: pointer;
        /* Auto layout */

        display: inline;
        font-size: 25px;
        font-family: 'Terminal';
        font-weight: bold;
        width: 328px;
        height: 80px;
        border: none;
        /* Light gray */
        color: black;
        background: #D8DFE8;
        border-radius: 24px;
        transition: 2s;
       
    }
    
    #descencriptador:hover{

      box-shadow: 0px 0px 15px 10px #D8DFE8;
        font-size: 26px;

    }
  


    .texto-transformado{

      opacity: 0;
  transform: translateY(-100%);
  animation: aparecer 5s ease-in-out forwards;



      position: absolute;
      width: 400px;
      /*height: 944px;*/
      height: 900px;
      left: 1337px;
      top: 90px;
      /*top: 72px;*/

      background: black;
      /* shadow */

      box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
      border-radius: 32px;

    }

    #output{

      color: white;
      font-family: 'Terminal';
      font-size: 2em;
      text-shadow: 4px 4px 15px #00FF00; 
      text-align: left;
      margin-right: 10%;
      margin-top: 10%;
      margin-left: 7%;

    }

    .zona-copiar button{
      position: fixed;
      top: 90%;
      left: 10%;
      
    }

    #boton-copiar{
      display: none;
      font-family: 'Monospace';
      font-size: 2em;
      text-align: center;
      background-color: #00FF00;
      border-radius: 25px;
      cursor: copy;
      border: none;
      width: 80%;
      height: 5%;
      transition: box-shadow 1s ease;
      border-radius: 32px;
      
    }

    #boton-copiar:hover{
      font-size: 2.1em;
      box-shadow: 0px 0px 15px 30px #00FF00;
    }

  

    .muneco{

      position: absolute;
      width: 336px;
      height: 304px;
      left: 30px;
      top: 222px;

    }
    h1{

      top: 575px;
      position: absolute;
      left: 24px;


      width: 336px;
      height: 58px;
      display: block;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      /* or 29px */

      text-align: center;

      color: #FFFFFF;

    }
    #explicacion{

      top: 647px;
      position: absolute;
      left: 24px;


      width: 336px;
      height: 48px;

      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      /* or 24px */

      text-align: center;

      color: #FFFFFF;

    }

    #canvasMatrix {

    width: 100%;
    height: 100%;
}


@media screen and (min-width: 1600px) and (max-height: 1200px ){
  
  
  .acciones{
    top: 85%;
  }
  .botones{
    top: 88%;
  }
  .texto-transformado{
    top: 0%;
    left: 72%;
  }

}


@media screen and (min-width: 1440px) and (max-height: 1080px ){
  #mensaje{
    left: 19%;
    top: 29%;
  }
  .acciones{
    top: 80%;
  }
  .botones{
    top: 83%;
  }
  .texto-transformado{
    top: 0%;
    left: 70%;
  }
}

  @media screen and (min-width: 1360px) and (max-height: 768px ){
    
    #mensaje{
      left: 1%;
      top: 21%;
    }
    .acciones{
      top: 83%;
    }
    .botones{
      top: 87%;
    }
    .texto-transformado{
      top: 0%;
      height: 100%;
      left: 71%;
    }
  


}



@media screen and (min-width: 1280px) and (max-height: 1024px ){
  #mensaje{
    left: 14.5%;
    top: 21%;
    height: 58%;
  }
  .acciones{
    top: 83%;
    left: 15%;
  }
  .botones{
    top: 87%;
    left: 15%;
  }
  .texto-transformado{
    top: 0%;
    height: 100%;
    left: 69%;
  }

}

@media screen and (min-width: 1152px) and (max-height: 864px ){
  #mensaje{
    left: 9.5%;
    top: 23%;
  }
  .acciones{
    top: 83%;
    left: 10%;
  }
  .botones{
    top: 87%;
    left: 10%;
  }
  .texto-transformado{
    top: 0%;
    width: 31%;
    height: 100%;
    left: 69%;
  }
  .muneco{
    top: 20%;
  }


}

@media screen and (min-width: 1176px) and (max-height: 664px ){
  #mensaje{
    height: 54%;
    left: 1.5%;
    top: 27%;
  }
  .acciones{
    top: 83%;
    left: 10%;
  }
  .botones{
    top: 87%;
    left: 10%;
  }
  .texto-transformado{
    top: 0%;
    width: 31%;
    height: 100%;
    left: 69%;
  }
  
  .muneco{
    top: 21%;
    left: 4%;
  }
  h1{
    top: 72%;
  }
  #explicacion{
    top: 80%;

  }
  

}

@media screen and (min-width: 1024px) and (max-height: 768px ){
  #mensaje{
    height: 54%;
    left: 1.5%;
    top: 27%;
  }
  .acciones{
    top: 83%;
    left: 2%;
  }
  .botones{
    top: 87%;
    left: 2%;
  }
  .texto-transformado{
    top: 0%;
    width: 31%;
    height: 100%;
    left: 69%;
  }
  
  .muneco{
    top: 21%;
    left: 2%;
  }
  h1{
    top: 72%;
    left: 0%;
  }
  #explicacion{
    top: 84%;

  }
  

}

@media screen and (min-width: 800px) and (max-height: 600px ){
  
  #panel-fondo{
    height: 100%;
  }
  #elemento img{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 0px;
    top: 50px;
  }
  #mensaje{
    width: 53%;
    height: 50%;
    left: 1.5%;
    top: 19%;

  }
  .acciones{
    top: 72%;
    left: 2%;
  }
  .botones{
    display: grid;
    top: 76%;
    left: 2%;
  }
  #encriptador{
    height: 50px;
  }
  #descencriptador{
    height: 50px;
  }
  #output{
  }
  .texto-transformado{
    top: 0%;
    width: 43%;
    height: 100%;
    left: 57%;
  }
  
  .muneco{
    top: 21%;
    left: 2%;
  }
  h1{
    top: 72%;
    left: 0%;
  }
  #explicacion{
    top: 84%;
    left: 2%;

  }
  

}




@media screen and (min-width: 4096px) and (max-height: 2160px ){
  #panel-fondo{
    height: 100%;
  }
  #elemento{
    width: 100%;
  }
  #elemento img{
    display: flex;
    gap: 40px;
    position: absolute;
    width: 480px;
    height: 192px;
  }
  #mensaje{
    left: 6%;
    width: 1312px;
    height: 2646px;
    font-size: 100px;
  }
  .acciones{
    width: 100%;
    left: 6%;
    top: 80%;
  }
  .acciones #informacion{
    float: left;
    width: 60px;
    height: 60px;
  }
  .acciones .letra-pequena{
    font-size: 48px;
  }
  .botones{
    width: 100%;
    left: 6%;
    top: 84%;
  }
  
  #encriptador{
    font-size: 100px;
    width: 1312px;
    height: 320px;
  }
  #encriptador:hover{
    
    font-size: 101px;

  }
  #descencriptador{
    font-size: 100px;
    width: 1312px;
    height: 320px;
  }
  #descencriptador:hover{
    
    font-size: 101px;

  }
  .texto-transformado{
    height: 95%;
    width: 28%;
    top: 4%;
    left: 71.8%;
  }
  #output{
    font-size: 6em;
  }
  #boton-copiar{
    font-size: 6em;
    width: 100%;
    height: 15%;
    left: -0.5%;
    top: 84.5%;
    cursor: copy;
  }
  
  #image-container{
    width: 100%;
  }
  .muneco,h1,p{
    width: 1008px;
    height: 912px;
  }
  h1{
    top: 60%;
    font-size: 72px;
  }

  #explicacion{
    font-size: 48px;
    top: 72%;
    left: 33%;
  }
  

}



@media screen and (max-width: 950px){

    #panel-fondo{
      height: 100%;
    }
    
    #elemento img{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 40px;
      position: absolute;
      width: 120px;
      height: 48px;
      left: 0px;
      top: 50px;
    }
    #mensaje{
      left: 10%;
      top: 15%;
      height: 30%;
      width: 80%;
    }

    .inicio #imagencentro{
      width: 321px;
      height: 145.5px;
      left: 10%;
    }

    .acciones{
      left: 10%;
      top: 46%;
    }

    .botones{
      left: 10%;
      top: 50%;
      display: grid;
      
    }

    #encriptador{
      height: 50px;
    }
    #descencriptador{
      height: 50px;
    }

    #image-container img{
      opacity: 0;
    }
    .texto-transformado{
      width: 80%;
      height: 35%;
      left: 10%;
      top: 65%;
    }

    .texto-transformado #output{
      
      font-size: 1.5em;
    }

    .zona-copiar #boton-copiar{
      width: 80%;
      height: 12%;
      top: 88%;
      font-size: 1.5em;

    }

    #boton-copiar:hover{
      box-shadow: 0px 0px 15px 30px transparent;
    }

    .texto-transformado h1{
      top: 10%;
      left: 0;
    }
    .texto-transformado #explicacion{
      top: 50%;
      left: 0;
    }
}
